* {
    margin: 0;
    padding: 0;
}

/* Header Section Begins */
header {
    background-color: #85BDBF;
    height: 25px;
}

header a {
    text-decoration: none;
    color: white;
    border-left: 1px solid rgb(73, 150, 153);
    border-right: 1px solid rgb(73, 150, 153);
    font-size: 1.27em;
    padding: 0 15px;
    float: right;
}

header a:hover {
    background-color: white;
    color: #85BDBF;
    border-left: 1px solid rgb(73, 150, 153);
    border-right: 1px solid rgb(73, 150, 153);
    border-top: 1px solid #85BDBF;
    border-bottom: 1px solid #85BDBF;
}
/* Header Section Ends */

/* Menu Nav bar Begins */
#menu button {
    background-color: #040F0F;
    border: 1px solid black;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    float: left;
}

#menu button a {
    text-decoration: none;
    color: white;
}

#menu-bar {
    height: 40px;
    width: 620px;
}

#menu button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

#menu .tab {
    cursor: pointer;
}

#menu .tab:hover {
    background-color: white;
}

#menu .tab a:hover {
    color: #040F0F;
}
/* Menu Nav bar Ends */

/* Main Banner Begins */
main h1 {
    margin-top: 40px;
    padding: 320px 0;
    padding-left: 40px;
    background: url(images/paper-pic-3.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
    font-size: 2.5em;
}
/* Main Banner Ends */

/* Product Banner Begins */
#products h2 {
    text-align: center;
    border-bottom: 1px solid #85BDBF;
    color: #85BDBF;
    width: 15%;
    margin: auto;
    padding: 18px 0;
}

#products figure {
    display: inline-block;
    border: 1px solid #85BDBF;
    margin: 50px 85px;
    height: 300px;
}

#products figure a {
    text-decoration: none;
    background-color: #85BDBF;
    color: white;
    margin: 0 95px;
    padding: 10px;
}

#products figure a:hover {
    text-decoration: none;
    background-color: white;
    color: #85BDBF;
    border: 1px solid #85BDBF;
    margin: 0 95px;
    padding: 10px;
}
/* Product Banner Ends */

/* Newsletter banner Begins */
#newsletter {
    background-color: #040F0F;
    height: 40px;
}

#newsletter p {
    width: 30%;
    float: left;
    color: white;
    margin-left: 95px;
    font-size: 1.1em;
    padding-top: 10px;
}

#newsletter form {
    width: 30%;
    float: right;   
    text-align: right;
    margin-right: 100px;
    padding-top: 10px;
}

#newsletter form input {
    color: rgba(64, 132, 134, 0.856);
    padding: 2px 2px;
}

#newsletter form button {
    text-align: center;
    color: white;
    background-color: #85BDBF;
    padding: 4px 10px;
    border: none;
    cursor: pointer;
}
/* Newsletter banner Ends */

/* About Us banner Begins */
#about {
    background-color: #85BDBF;
    height: 440px;
}

#about h2 {
    text-align: center;
    border-bottom: 1px solid white;
    color: white;
    width: 15%;
    margin: auto;
    padding: 18px 0;
}

#about p {
    width: 50%;
    float: right;
    font-size: 1.1em;
    color: white;
    text-align: justify;
}

#about section {
    margin: 50px 200px 0 200px;
}

#about img {
    border: 1px solid white;
    border-radius: 10px;
}
/* About Us banner Ends */

/* Testimonial banner Begins */
#testimonials h2 {
    text-align: center;
    border-bottom: 1px solid #85BDBF;
    color: #85BDBF;
    width: 15%;
    margin: auto;
    padding: 18px 0;
}

#testimonials figure {
    animation: fadeOut 4s forwards;
    height: 350px;
}

#testimonials figure img {
    border-radius: 50%;
    height: 170px;
    margin: 20px 0 20px 600px;
}

#testimonials figure blockquote {
    width: 25%;
    text-align: justify;
    margin-left: 500px;
    color: #85BDBF;
    font-weight: bold;
}

#testimonials figure p {
    margin-left: 800px;
    color: #85BDBF;
    font-weight: bold;
}

#testimonials .quotes #pam {
    text-align: center;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}
/* Testimonial banner Ends */

/* Contact banner Begins */
#contacts {
    background: url(images/paper-pic-2.jpg) no-repeat center fixed;
    height: 400px;
    background-size: cover;
    color: white;
}

#contacts #container {
    background-color: #040F0F;
    opacity: 0.8; 
    height: 400px;
}

#contacts #container h4 {
    margin-left: 100px;
    padding-top: 50px;
    font-size: 1.25em;
}

#contacts #container ul {
    margin-left: 100px;
    margin-top: 20px;
}

#contacts #container ul li {
    list-style: none;
    margin: 10px 0;
}

#contacts #container footer {
    text-align: center;
    padding-top: 130px;
}